* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;

}

span {
  color: #394a6d;
}

.my_select {
  position: relative;
}

.selected {
  width: 210px;
  height: 50px;
  font-size: 25px;
  line-height: 60px;
  border: 2px solid #394a6d;
  background-color: white;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  height: 15px;
  width: 15px;
  position: relative;
}

.arrow::before, .arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #394a6d;
  transition: 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

ul {
  list-style: none;
  width: 210px;
  font-size: 25px;
  border: 2px solid #394a6d;
  border-top: none;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
}

li > span {
  margin-left: 10px;
}

li {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.5s;
}

.opened {
  background-color: #394a6d;
  color: #FFFFFF;
}

.hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.opened > span {
  color: #FFFFFF;
}

ul.options {
  display: none;
}

main {
  height: calc(100% - 70px);
  display: flex;
  align-content: center;
}

#box_field {
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: 1px solid gray;
}

.box {
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px white inset, 0px 0px 3px 3px gray inset;
}

.box_item {
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
}

i {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.fas {
  line-height: 40px;
}

.hide {
  opacity: 0;
}
