* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  height: 70px;
  border-bottom: 1px solid black;
}

main {
  height: calc(100% - 70px);
  display: flex;
}

#box_field {
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: 1px solid gray;
}

.box {
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px white inset, 0px 0px 3px 3px gray inset;
}

.box_item {
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
}

i {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.fas {
  line-height: 40px;
}

.hide {
  opacity: 0;
}
